.submit-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-size: 16px;
    width: 100%; 
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  .trip-page-wrapper {
    background-image: url('D:\mapCompanion\frontend\src\assets\world-travel-map-.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

  .page-container {
    position: relative;
    max-width: 290px; 
    margin: 250px auto; 
    padding: 40px; 
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 50px;
    height: auto;
    
  }
  